main(class="profile__publications")
    section(class="profile__posts")
        -var images= ["photo1.png","photo2.png","photo3.png","photo4.png","photo5.png","photo6.png"]
            each img in images
                img(src="../../assets/"+img, alt=img class="profile__image profile__image--rounded profile__image--effect")
