doctype !DOCTYPE html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Gallery
    body
        include includes/_header.pug 
        include includes/_main.pug
        footer
            address
                p Samara Neves @ DevChallenges.io 